.top {
	background-color: rgb(136, 133, 133); 
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	width: 100%; 
	height: 4.5%;
	transition: 0.5s;
	padding: 10px 0px 10px 0px;
	display: flex;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
	justify-content: center;
	position: fixed;
	align-items: center;
	z-index: 8;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	box-shadow: 0px 1px 10px rgb(107, 106, 106);
}

.template_text-a {
    text-decoration: none;
    color: #565659;
    vertical-align: baseline;
    font-size: 150%;
    margin-bottom: 1.5%;
    font-weight: normal;
    line-height: 300%;
    font-family: "STZhongsong",
}

.toptitle {
	width: 100%; 
	display: flex;
	height: 50%;
	justify-content: center;
	align-items: center;
}

.topitem {
	text-decoration: none;
	text-align: center;
	flex-grow: 1;
	color: #FFFFFF;
	font-size: 1.2rem;
	width: 60px
}

.topitem a {
	color: #332828;
	text-decoration: none;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}


.topitem a:hover {
	background-color: #FFD069;
	color: #FFFFFF ;
	border-radius: 3rem;
	padding: 3%;
	padding-left: 15%;
	padding-right: 15%;
}


.xiaoacao_footer{
	height: 30px;
	line-height: 35px;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: rgb(134, 133, 133);
	color: #fff;
	font-family: Arial;
	font-size: 14px;
	letter-spacing: 1px;
}